<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ebi"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
        <activity android:name="NewActivity"
                  android:label="Le titre">
        </activity>

        <activity android:name="GraphicActivity"
                  android:label="graphic activity">
        </activity>
        
        <activity android:name="InterActivite"
                  android:label="Navig entre activités">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="InterActivity2"
                  android:label="Navig entre activités 2">
        </activity>
        
    </application>
</manifest>